@font-face {
    font-family: Gresham;
    src: url('./fonts/Gresham-g2vE.ttf');
}

body, h2, h3, h4, p {
    margin: 0;
}

body {
    background-color: rgb(31, 31, 31);
    padding: 12px 10vw;
}

h1 {
    text-align: center;
    font-family: Gresham;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 20px
}
main > div {
    flex: 1;
}

.list-container {
    background-color: rgb(23, 23, 23);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
}

.task-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    color: white;
    padding-bottom: 12px;
    border-bottom: dashed white;
}

.mark-completed, .expand-taska {
    width: min-content;
    background: none;
    border: none;
    color: white;
}

.hidden {
    display: none;
}

/* form stuff */
.form-row {
    display: flex;
    justify-content: center;
}

label {
    color: white;
}

#title, #desc {
    flex: 1;
}

.icon {
    width: 30px;
    height: 30px;
}
button.pinned {
    background-color: red;
}

button.completed {
    background-color: blue;
}


.task-container {
    order: 1;
}
.task-container.pinned {
    order: 0;
    color: red;
    text-decoration: underline;
}
.task-container.completed {
    order: 2;
    color: gray;
    text-decoration: line-through;
}

