@font-face {
    font-family: Gresham;
    src: url('./fonts/Gresham-g2vE.ttf');
}

body, h2, h3, h4, p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(31, 31, 31);
}

h1 {
    text-align: center;
    font-family: Gresham;
    color: white;
}

header {
    background:rgb(23, 23, 23);
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10vw;
}
main > div {
    flex: 1;
}

.list-container {
    background-color: rgb(23, 23, 23);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
}

.hidden {
    display: none;
}

/* form template styling */
.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
}

.create-form label {
    display: none;
}
.form-items {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
#title {
    width: 100%;
}
#desc { 
    flex:4;
    min-width: 200px;
}
#dueDate {
    flex: 1;
}

#create-button, #expand-form, #create-project, #cancel-project,
#add-project, #confirm-edit, #cancel-edit {
    padding: 6px;
    background: #24a0ed;
    color: white;
    font-weight: bold;
    font-size: 1.2rem
}
#expand-form {
    width: 100%;
}

#create-button {
    border-radius: 12px;
    width: 30%;
    margin-bottom: 10px;
}
.expand-form {
    width: 100%;
}
input, textarea {
    padding: 6px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}


/* task template styling */
.task-container {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    padding-bottom: 12px;
    border-bottom: dashed white;
}

.task-container.completed {
    text-decoration: line-through;
    color: gray;
}

.task-content {
    flex: 1;
}

.collapsible {
    max-height: 0px;
    overflow: clip;
    transition: all 1s;
}

.collapsible.expanded {
    max-height: 100px;
}
.create-form.collapsible.expanded {
    max-height: 200px;
}

/* remove button default formatting */
button {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding:0;
}

.pin-button, .complete-button {
    fill: red;
    stroke: red;
}

.expand-button {
    stroke: white
}

.expand-button.expanded {
    transform: rotate(180deg);
    transition: all 0.4s}


.icon {
    width: 30px;
    height: 30px;
    stroke-width: 2px;
    fill-opacity: 0;
    
}

button.pinned, button.completed {
    fill-opacity: 1;
}

.task-content {
    
}
.edit-button {
    color: #24a0ed;
}
.delete-button {
    color: red;
}

/* Style for overlay forms */
.blur-overlay {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: rgba(31, 31, 31, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.overlay-form {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.overlay-title {
    font-family: Arial, Helvetica, sans-serif;
    background: #24a0ed;
    padding: 12px 12px;
    margin: 0;
}

.new-project input {
    padding: 0;
}

.form-row {
    padding: 1rem;
    gap: 0.5rem;
    color: black;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}