main {
    display: grid;
    grid-template: auto auto / auto auto;
    gap: 20px;
}

#general {
    grid-row: 1/3;
}

.list-container {
    min-height: 100px;
    min-width: 100px;
    background: pink;
}

.item-container {
    display: grid;
    grid-template-columns: auto auto;
}

.mark-completed {
    grid-row: 1/4;
}